## Create Table

### Connect to databse

In [1]:
import mysql.connector as sql

connect = sql.connect(
    
    host='localhost',
    user='root',
    password='652001',
    database='MyDatabase'
)

print(connect)

<mysql.connector.connection.MySQLConnection object at 0x000001D9BB3E1DA0>

### Create Table

In [2]:
cursor = connect.cursor()

cursor.execute("CREATE TABLE stuinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

### Enter Details In Table

In [3]:
query = "INSERT INTO info (name,subject) VALUES (%s,%s)"
value = ("rohan","datascience")
cursor.execute(query,value)
print("added",cursor.lastrowid)

added 7

In [4]:
query = "INSERT INTO info (name,subject) VALUES (%s,%s)"
values = [
    
    ("rony","sm"),
    ("rahul","ls"),
    ("nazeeh","wp"),
    ("dhaiwat","wp"),
    ("harsh","cs")
     
     ]
     
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 8

### dispay table

In [5]:
cursor = connect.cursor()
cursor.execute("Select * from info")

In [6]:
cursor.fetchall()

[(7, 'rohan', 'datascience'),
 (8, 'rony', 'sm'),
 (9, 'rahul', 'ls'),
 (10, 'nazeeh', 'wp'),
 (11, 'dhaiwat', 'wp'),
 (12, 'harsh', 'cs')]

### Drop table

In [12]:
cursor.execute("DROP TABLE info")

In [13]:
cursor.execute("DROP TABLE stuinfo")